user  nginx;
worker_processes  1;

error_log  /var/log/nginx/error.log warn;
pid        /var/run/nginx.pid;


events {
  worker_connections  1024;
}

http {
  gzip on;
  gzip_disable "msie6";
  gzip_vary off;
  gzip_proxied any;
  gzip_comp_level 6;
  gzip_buffers 16 8k;
  gzip_http_version 1.1;
  gzip_types text/plain text/css application/json application/javascript application/octet-stream text/xml application/xml application/xml+rss text/javascript;

  proxy_cache_path /nginx_cache levels=1:2 keys_zone=frontend_cache:1M max_size=100M inactive=40d use_temp_path=off;

  # Port 79 brukes fra ELB port 80 for å hindre http (redirigere til https)
  server {
    listen 79;
    return 301 https://$host$request_uri;
  }

  # Port 80 brukes fra ELB port 443
  server {
    listen 80;
    charset UTF-8;

    add_header X-Cache-Status $upstream_cache_status;

    error_log /var/log/nginx/error.log debug;
    access_log /var/log/nginx/access.log;

    resolver 127.0.0.11;

    set $gdl_frontend 'gdl-frontend.gdl-local';
    set $admin_frontend 'admin-frontend.gdl-local';

    location ~* ^/(sitemap.*) {
      set $s3_bucket      's3.eu-central-1.amazonaws.com/sitemap.gdl';
      set $sitemap_url    'https://$s3_bucket/$1?';

      proxy_cache frontend_cache;
      proxy_http_version 1.1;

      proxy_set_header       Referer  'gdl_proxy';
      proxy_pass             $sitemap_url;
    }

    location ~* ^/health$ {
        add_header 'Content-Length' 0;
        return 200;
    }

    location ~ ^/admin.* {
      proxy_set_header  Host $http_host;
      proxy_set_header  X-Real-IP $remote_addr;
      proxy_set_header  X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header  Forwarded "for=$remote_addr;proto=$http_x_forwarded_proto";
      proxy_pass http://$admin_frontend;
    }

    location / {
      proxy_set_header  Host $http_host;
      proxy_set_header  X-Real-IP $remote_addr;
      proxy_set_header  X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header  Forwarded "for=$remote_addr;proto=$http_x_forwarded_proto";
      proxy_cache frontend_cache;
      proxy_pass http://$gdl_frontend;
    }

  }
}
